
:root{
    --primary: rgba(55, 70, 57, 1);
    --secondary: rgba(63, 81, 75, 1);
    ;
}
*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
hr{
    color: rgba(236, 237, 236, 1);
    height: 1px;
   
}
.container{
    width: 120em;
    height: 57em;
}
.wrapper{
    max-width: 95.5em;
    height: 48em;
    margin: 2em auto;
   
}
.header-section{
    width: 32.4em;
    height: 9.6em;
}
.header-section h2{
    line-height: 53px;
    size: 45px;
    color: var(--primary);
}
.header-section p{
    line-height: 27px;
    size: 19px;
    color: var(--secondary);
}

.content{
    display: flex;
    gap: 1.375em;
}
.content-detail{
    width: 22.5em;
    height: 18.1em;
}
.content-detail img{
    width: 100%
}

.text-1{
    font-size: 20px;
    line-height: 25px;
    color:rgba(65, 79, 66, 1);
    margin-top: 18px;
    
}
.text-2{
    font-size: 17px;
    line-height: 24px;
    color: var(--secondary);
    margin-top: 8px;
}
.text-3{
    font-size: 13px;
    line-height: 18px;
    text-decoration: line-through;
    color: var(--secondary);
}
.text-4{
    font-size: 18px;
    line-height: 23px;
    color: var(--secondary);
}
.text-5{
    font-size: 15px;
    line-height: 18px;
    color: var(--secondary);
    margin-right: 24px;
    
}
.text-6{
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary);
    
}
.box{
    width: 19.25em;
    height: 8.375em;
}
.box2{
    width: 22.5em;
    height: 8.5em;
    margin-top: 20px;
}
.box3{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* responsive  tablet*/
@media only screen and (min-width: 46.25em) and (max-width:63.9375em) {
    .container{
        width: auto;
        height: auto;
    }
    .wrapper{
        width: 80%;
        margin: 1em auto;
    }
    

    .content{
        display: grid;
        grid-template-columns: auto auto;
    }
    .content-detail{
        width: auto;
        height: auto;
        margin-top: 30px;
    }


}
/* responsive  mobile*/
@media only screen and (max-width:46.1875em) {
    .container{
        width: auto;
        height: auto;
    }
    .wrapper{
        width: 80%;
        margin:  1em auto;
    }
    .header-section{
        width: 90%;
        height: auto;
        
    }
    .content{
        display: grid;
        grid-template-columns: auto ;
    }
    .content-detail{
        width: auto;
        height: auto;
        margin-top: 30px;
    }

}



